pipeline/pl_incremental_load_sql_to_blob.json
{
	"name": "pl_incremental_load_sql_to_blob",
	"properties": {
		"activities": [
			{
				"name": "LkpOldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic_tables_covid",
						"type": "DatasetReference",
						"parameters": {
							"p_TableName": "watermarktable",
							"p_SchemaName": "dbo"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LkpNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT max(LastModifyTime) as NewWatermarvalue \nFROM data_src ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tables_covid",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LkpOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LkpNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM DATA_SRC WHERE LastModifyTime > '@{activity('LkpOldWatermark').output.firstRow.WatermarkValue}' and LastModifyTime <= '@{activity('LkpNewWaterMarkActivity').output.firstRow.NewWatermarvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_tables_covid",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ls_generic_blob",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "configs",
							"fileName": {
								"value": "@concat('Incremental_', pipeline().RunId,'.txt')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LkpNewWaterMarkActivity').output.firstRow.NewWatermarvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LkpOldWatermark').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_covid",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "pipeline_load_incremental"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-17T15:49:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}